@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: #cfe0e5;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.5;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ----------------------- */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #757575;
  background-color: #edf4f5;
}

.root {
  width: 100vw;
  min-height: 3rem;
  padding-right: 10%;
  display: flex;
  justify-content: end;
  align-items: center;
  background: #829faa;
  border-bottom: 1px solid;
}

.register,
.login {
  display: flex;
}

.register > div,
.login > div {
  background-color: #e5eff1;
  color: inherit;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  text-shadow: 0rem 0rem 0.4rem #958e8e;
  border-radius: 0.3rem;
  padding: 0.3rem 0.8rem;
  margin: 10px auto 10px 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.login .go-out {
  background: #b3ccd5;
  color: #fff;
  text-shadow: 0 0 0.4rem #000;
}

.login .user-name {
  cursor: default;
}

.go-in:hover,
.make-user:hover,
.go-out:hover {
  background-color: #d8ebee;
  color: inherit;
  text-shadow: inherit;
}

.pattern-container,
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.pattern-board-collection,
.board-collection {
  width: 100vw;
  height: 200px;
  flex: 0 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  background: #b3ccd5;
  border-bottom: 1px solid;
  overflow-x: scroll;
}

.pattern-board,
.board {
  background: #94b2bd;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 160px;
  width: 200px;
  margin-left: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  opacity: 0.3;
  box-shadow: 5px 5px 15px #534c4c;
}

.board-icon {
  display: flex;
  justify-content: end;
  margin-left: 70%;
}

.board-icon > i,
.board-edit,
.board-remove {
  align-self: end;
  margin-right: 15px;
  color: #fff;
  text-shadow: 0 0 5px #000;
}

.pattern-active,
.active {
  opacity: 1;
}

.pattern-board > p,
.board > p {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 1px 1px 2px #000, 0 0 1em #2b2828, 0 0 0.2em #2b2828;
  text-align: center;
}

.pattern-add-board,
.add-board {
  flex-shrink: 0;
  width: 180px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 0 0 5px #000;
  cursor: pointer;
}

.pattern-add-board::before,
.add-board::before {
  content: '+';
  display: block;
}

.pattern-board-box,
.board-box {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: #edf4f5;
  overflow-x: scroll;
}

.pattern-add-column,
.add-column {
  width: max-content;
  height: max-content;
  padding: 1.2rem;
  background-color: #cfe0e5;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0 0 0 / 20%);
  color: #757575;
  font-weight: bold;
  text-shadow: 0.05rem 0.05rem 0.1rem #bfb8b8;
}

.pattern-add-column::before,
.add-column::before {
  content: '+';
  padding-right: 0.4rem;
  color: #757575;
}

.pattern-column,
.column {
  width: 300px;
  height: max-content;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #cfe0e5;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0 0 0 / 20%);
}

.column-icon {
  width: 100%;
  display: flex;
  justify-content: end;
}

.column-icon > i,
.column-remove {
  margin-left: 15px;
}

.pattern-column > p,
.column > p {
  width: 100%;
  justify-content: start;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 1px;
  text-shadow: 0.05rem 0.05rem 0.1rem #bfb8b8;
}

.pattern-placeholder,
.placeholder {
  width: 100%;
  min-height: 2vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
}

.card,
.pattern-add-card,
.add-card {
  width: 100%;
}

.pattern-add-card,
.add-card,
.add-list-item {
  color: #757575;
}

.pattern-add-card::before,
.add-card::before,
.add-list-item::before {
  content: '+';
  padding-right: 0.4rem;
  color: #757575;
}

.pattern-card {
  width: 100%;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: #e5eff1;
  padding: 1rem;
  cursor: grab;
}

.pattern-box-icon {
  text-align: end;
}

.pattern-box-icon > i {
  margin-left: 0.5rem;
}

.card-footer {
  display: flex;
  gap: 2rem;
  font-size: 0.9rem;
}

.block-list {
  display: flex;
  gap: 0.5rem;
}

.card-list-info {
  line-height: 1;
}

.error-block,
.form-body,
.question-block,
.prohibition-block,
.board-dialog,
.column-dialog {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #cfe0e5;
  border-radius: 0.5rem;
  width: calc(100vw - (2 * (0px + 1000 * (100vw - 320px) / (2500 - 320))));
  top: calc(50vw + 50 * (320px - 100vw) / (450 - 320));
  left: calc(0px + 1000 * (100vw - 320px) / (2500 - 320));
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgb(0, 0, 0, 0.5);
  padding: 2rem;
  z-index: 10;
}

.form-body {
  top: calc(25vw + 30 * (320px - 100vw) / (450 - 320));
  padding: calc(30px + 30 * (100vw - 320px) / (2500 - 320));
}

.close-form {
  width: 100%;
  text-align: end;
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin: 0 0 1rem;
  text-shadow: 0rem 0rem 0.4rem #958e8e;
}

.form-item {
  width: 100%;
  margin: 0 0 0.5rem;
}

.form-label {
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
  margin: 0 0 0.5rem;
}

.form-input {
  height: 50px;
  padding: 0px 1rem;
  background: #e7f2f5;
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1.2rem;
  transition: all 0.5s ease 0s;
}

.form-input:focus,
.form-button:focus {
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
  outline: none;
}

.form-input.error {
  border: 1px solid #757575;
}

.prohibition-block {
  flex-direction: row;
  justify-content: space-between;
}

.board-dialog i,
.column-dialog i {
  font-size: 1.2rem;
  width: 5%;
}

.board-dialog .close-board-icon,
.selection-img .close-board-icon,
.column-dialog .close-column-icon {
  position: absolute;
  width: 1rem;
  top: 0.7rem;
  right: 0.7rem;
  cursor: pointer;
}

.board-title,
.column-title {
  width: 100%;
  height: 2.5rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}

input:focus {
  box-shadow: 0 0 0.5rem #958e8e;
}

.select-background {
  width: 100%;
  padding: 0.5rem;
  text-align: left;
  cursor: pointer;
}

.board-title:hover,
.select-background:hover,
.column-title:hover {
  color: #000;
  text-shadow: 0.1rem 0.1rem 0.2rem #d3c9c9;
}

.board-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 160px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #534c4c;
}

.question-block .block-button,
.board-dialog .block-button,
.column-dialog .block-button {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  justify-content: space-between;
}

.error-block > p {
  margin-bottom: 1rem;
}

.error-block .block-button,
.board-dialog .block-button,
.column-dialog .block-button {
  justify-content: center;
}

.error-block button,
.form-button,
.question-block button,
.board-dialog .save-button,
.column-dialog .save-button {
  background-color: #e5eff1;
  color: inherit;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
  text-shadow: 0.5rem 0.5rem 1rem #958e8e;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem #958e8e;
  min-width: 45%;
  padding: 1rem;
  margin: 0;
}

.form-button {
  margin-top: 1rem;
}

.form-button:hover,
.question-block button:hover,
.board-dialog .save-button:hover,
.column-dialog .save-button:hover {
  background-color: #d8ebee;
}

.selection-img {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #cfe0e5;
  border-radius: 0.5rem;
  width: 80vw;
  height: 80vh;
  top: 5vw;
  left: 10vw;
  box-shadow: 1rem 1rem 1rem 1rem rgb(0 0 0 / 20%);
  padding: 2rem;
  overflow: scroll;
  z-index: 20;
}

.selection-img > div {
  height: 160px;
  width: 200px;
  margin: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #534c4c;
}

.selection-img > div:hover {
  box-shadow: 0 0 15px #000;
  border: 3px solid #b3ccd5;
}

.hovered {
  border-radius: 0.5rem;
  background: #e5eff1;
}

.hide {
  display: none;
}

.opacity {
  opacity: 0;
}

.blur > *:not(card-dialog) {
  filter: blur(4px);
}

.pointer {
  cursor: pointer;
}
